body {
  background: #B24926;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: #333;
}
#content {
	margin: 0 8% 0 8%;
	background: #fff;
	border-radius: 8px;
	padding: 1em;
	border: 1px solid #444;
}
h1 {
	margin: 0;
	padding: 0;
}
h1 a {
	font-size: 150%;
	color: #fff;
	text-decoration: none;
}
h1 a:hover {
	color: #fff;
}
h2, h3 {
	margin: 0 0 .75em 0;
	color: #333;
}
a {
	color: #0755c1;	
}
a:hover {
	color: #B24926;
}
#footer {
	margin: 2em 8% 4% 8%;
	color: #fff;
}
#footer a {
	color: #fff;
}
#footer a:hover {
	color: #ffcc00;
}
#header {
	margin: 2% 8% 1em 8%;
}
#content img {
	border: 2px solid #444;
	border-radius: 10px;
}

