body {
  padding:10px 50px;
  font:18px/1.5 Arial, Helvetica, sans-serif;
  color:#555;
}
h1 {
	color: #555;
	border-bottom: 2px solid #555;
}
#footer {
	border-top: 2px solid #555;
	padding-top: 1em;
}
