body {
  padding: 10px 50px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: #444;
}
h1 {
	color: #444;
	margin: .5em 0 0 0;
}
#footer {
	border-top: 2px solid #000;
	padding-top: 1em;
}
#header {
	background: #fc0;
	padding: 4px;
	border-bottom: 2px solid #000;
}
#nav {
	padding: 8px;
}
#nav a{
	color: #444;
	text-decoration: none;
}
#nav a:hover {
	color: #000;
}
